In [1]:
# Task 1
import pandas as pd
filename = "https://raw.githubusercontent.com/sczhou0705/DAV-5400/main/bridges.data1.csv"
df = pd.read_csv(filename)
df

,Identif,River,Location,Erected,Purpose,Length,Lanes,Clear,T-0r-d,Material,Span,Rel,Type
0,E1,M,3,1818,HIGHWAY,?,2,N,THROUGH,WOOD,SHORT,S,WOOD
1,E2,A,25,1819,HIGHWAY,1037.000000,2,N,THROUGH,WOOD,SHORT,S,WOOD
2,E3,A,39,1829,AQUEDUCT,?,1,N,THROUGH,WOOD,?,S,WOOD
3,E5,A,29,1837,HIGHWAY,1000.000000,2,N,THROUGH,WOOD,SHORT,S,WOOD
4,E6,M,23,1838,HIGHWAY,?,2,N,THROUGH,WOOD,?,S,WOOD
...,...,...,...,...,...,...,...,...,...,...,...,...,...
103,E84,A,24,1969,HIGHWAY,870.000000,6,G,THROUGH,STEEL,MEDIUM,F,ARCH
104,E91,O,44,1975,HIGHWAY,3756.000000,6,G,THROUGH,STEEL,LONG,F,ARCH
105,E90,M,7,1978,HIGHWAY,950.000000,6,G,THROUGH,STEEL,LONG,F,ARCH
106,E100,O,43,1982,HIGHWAY,?,?,G,?,?,?,F,?
107,E109,A,28,1986,HIGHWAY,?,?,G,?,?,?,F,?

In [2]:
# Use the size() function to tells us how many data values belong to each group.
# use reset_index to reset the index of the DataFrame and name the "count" as how many?
df1 = df.groupby(['River','Purpose','Material']).size().reset_index(name='How Many?')
df1.set_index(['River','Purpose','Material'])

                         How Many?
River Purpose  Material
A     AQUEDUCT IRON              1
               WOOD              3
      HIGHWAY  ?                 1
               IRON              2
               STEEL            21
               WOOD              8
      RR       IRON              1
               STEEL             9
               WOOD              2
      WALK     STEEL             1
M     HIGHWAY  IRON              4
               STEEL            19
               WOOD              3
      RR       IRON              2
               STEEL            13
O     HIGHWAY  ?                 1
               IRON              1
               STEEL             9
      RR       STEEL             4
Y     HIGHWAY  STEEL             2
      RR       STEEL             1

In [ ]:
# Task 2

In [3]:

filename1 = "https://raw.githubusercontent.com/sczhou0705/DAV-5400/main/bridges.data1.csv"
df2 = pd.read_csv(filename1)
df2

,Identif,River,Location,Erected,Purpose,Length,Lanes,Clear,T-0r-d,Material,Span,Rel,Type
0,E1,M,3,1818,HIGHWAY,?,2,N,THROUGH,WOOD,SHORT,S,WOOD
1,E2,A,25,1819,HIGHWAY,1037.000000,2,N,THROUGH,WOOD,SHORT,S,WOOD
2,E3,A,39,1829,AQUEDUCT,?,1,N,THROUGH,WOOD,?,S,WOOD
3,E5,A,29,1837,HIGHWAY,1000.000000,2,N,THROUGH,WOOD,SHORT,S,WOOD
4,E6,M,23,1838,HIGHWAY,?,2,N,THROUGH,WOOD,?,S,WOOD
...,...,...,...,...,...,...,...,...,...,...,...,...,...
103,E84,A,24,1969,HIGHWAY,870.000000,6,G,THROUGH,STEEL,MEDIUM,F,ARCH
104,E91,O,44,1975,HIGHWAY,3756.000000,6,G,THROUGH,STEEL,LONG,F,ARCH
105,E90,M,7,1978,HIGHWAY,950.000000,6,G,THROUGH,STEEL,LONG,F,ARCH
106,E100,O,43,1982,HIGHWAY,?,?,G,?,?,?,F,?
107,E109,A,28,1986,HIGHWAY,?,?,G,?,?,?,F,?

In [4]:
# convert column"Length" to numeric type in case error "No numeric types to aggregate"
df2['Length'] = df2['Length'].apply(pd.to_numeric, errors='coerce')
df2

,Identif,River,Location,Erected,Purpose,Length,Lanes,Clear,T-0r-d,Material,Span,Rel,Type
0,E1,M,3,1818,HIGHWAY,NaN,2,N,THROUGH,WOOD,SHORT,S,WOOD
1,E2,A,25,1819,HIGHWAY,1037.0,2,N,THROUGH,WOOD,SHORT,S,WOOD
2,E3,A,39,1829,AQUEDUCT,NaN,1,N,THROUGH,WOOD,?,S,WOOD
3,E5,A,29,1837,HIGHWAY,1000.0,2,N,THROUGH,WOOD,SHORT,S,WOOD
4,E6,M,23,1838,HIGHWAY,NaN,2,N,THROUGH,WOOD,?,S,WOOD
...,...,...,...,...,...,...,...,...,...,...,...,...,...
103,E84,A,24,1969,HIGHWAY,870.0,6,G,THROUGH,STEEL,MEDIUM,F,ARCH
104,E91,O,44,1975,HIGHWAY,3756.0,6,G,THROUGH,STEEL,LONG,F,ARCH
105,E90,M,7,1978,HIGHWAY,950.0,6,G,THROUGH,STEEL,LONG,F,ARCH
106,E100,O,43,1982,HIGHWAY,NaN,?,G,?,?,?,F,?
107,E109,A,28,1986,HIGHWAY,NaN,?,G,?,?,?,F,?

In [5]:
# groupby purpose and material columns and assign it to grouped.
grouped = df2.groupby(['Purpose','Material'])

grouped_arrlen = grouped['Length']
df3 = pd.DataFrame(grouped_arrlen.agg(['mean']))
df3.rename(columns = {'mean':'Average Length'},inplace = True)
df3

                   Average Length
Purpose  Material
AQUEDUCT IRON         1000.000000
         WOOD         1092.000000
HIGHWAY  ?                    NaN
         IRON         1216.666667
         STEEL        1557.804348
         WOOD         1053.375000
RR       IRON         1100.000000
         STEEL        1946.850000
         WOOD                 NaN
WALK     STEEL                NaN

In [9]:
# Task 3
# split the Distance column into 4 separate bins (one for erected year)
Erected =pd.cut(df2.Erected,4,precision =0)
Erected

0      (1818.0, 1860.0]
1      (1818.0, 1860.0]
2      (1818.0, 1860.0]
3      (1818.0, 1860.0]
4      (1818.0, 1860.0]
             ...
103    (1944.0, 1986.0]
104    (1944.0, 1986.0]
105    (1944.0, 1986.0]
106    (1944.0, 1986.0]
107    (1944.0, 1986.0]
Name: Erected, Length: 108, dtype: category
Categories (4, interval[float64]): [(1818.0, 1860.0] < (1860.0, 1902.0] < (1902.0, 1944.0] < (1944.0, 1986.0]]

In [10]:
## define a function that specifies the aggregating functions we want to apply
# to the 'Length' values contained within each of our Dist binning cuts
def get_stats(group):
    return{'Average Length':group.mean(),'Count':group.count(),'Max Length':group.max(),'Min Length':group.min()}

In [11]:
#group the df2 column's values relative to the Dist binning cuts we made
# above
grouped = df2.Length.groupby(Erected)
# apply the get_stats function to the grouped data2 values
# In the results we see the data1 quartile cuts are used as the row index labels
grouped.apply(get_stats).unstack()

                  Average Length  Count  Max Length  Min Length
Erected
(1818.0, 1860.0]     1094.625000    8.0      1500.0       990.0
(1860.0, 1902.0]     1603.347826   23.0      4558.0      1000.0
(1902.0, 1944.0]     1676.181818   33.0      3000.0       860.0
(1944.0, 1986.0]     1530.411765   17.0      3756.0       804.0